extends layout

block content
  h1= title
  p Test
  table
    each val in notices
      tr
        h2= val.title
        p= val.content 
        p= val.contact.name
        p= val.contact.number

block add
  if errors.length
    p There are problems in the form you've posted:
    ul
    each error in errors
      li
        p= error.path
        p= error.msg
  form(id="add", action="/", method="post")
    label(for="title") Title
    input(id="title", type="text", name="title")
    br
    label(for="content") Content
    input(id="content", type="text", name="content")
    br
    label(for="name") Name
    input(id="name", type="text", name="name")
    br
    label(for="number") Contact Number
    input(id="number" type="text" name="number")
    input(type="submit" value="POST Notice")
